### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [202]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
print(purchase_data.head())
print()
purchase_data.info()
print('----------------')

   Purchase ID             SN  Age Gender  Item ID  \
0            0        Lisim78   20   Male      108
1            1    Lisovynya38   40   Male      143
2            2     Ithergue48   24   Male       92
3            3  Chamassasya86   24   Male      100
4            4      Iskosia90   23   Male      131

                                   Item Name  Price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56
2                               Final Critic   4.88
3                                Blindscythe   3.27
4                                       Fury   1.44

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB
----------------

## Player Count

* Display the total number of players

In [203]:
#total number of players who made purchses'
players = purchase_data["SN"].unique()
total_players = len(players)
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [204]:
#number of unique items'
unique = purchase_data['Item Name'].unique()
unique_items = len(unique)
print('number of unique items:', unique_items)

#average price per item'
avg = purchase_data['Price'].mean()
print('avg price per item:', avg)

#number of purchases'
count = len(purchase_data["SN"])
print('number of purchases:', count)

#total revenue'
total_sales = purchase_data['Price'].sum()
print('total revenue:', total_sales)

summary_df = pd.DataFrame({'Unique Items':[unique_items], 'Avg Price':[avg], 'Purchase Count':[count], 'Total Sales':[total_sales]})
summary_df

number of unique items: 179
avg price per item: 3.050987179487176
number of purchases: 780
total revenue: 2379.77

   Unique Items  Avg Price  Purchase Count  Total Sales
0           179   3.050987             780      2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [205]:
#create df with gender count with %
total_players = purchase_data['SN'].nunique()
print('Total Players:', total_players)
gender_series = purchase_data.groupby('Gender')['SN'].nunique()
gender_df = pd.DataFrame( {'Count': gender_series})
gender_df['Percent'] = gender_df['Count'] / total_players

gender_df.head()

Total Players: 576

                       Count   Percent
Gender
Female                    81  0.140625
Male                     484  0.840278
Other / Non-Disclosed     11  0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [206]:
#count purchases
gender_purch = pd.DataFrame(gender_df['Count'])
gender_purch['Purchase Count'] = purchase_data.groupby('Gender')['Price'].count()

#find average purchase price
gender_purch['Average Purchase Price'] = purchase_data.groupby('Gender')['Price'].mean()
gender_purch['Total Purchase Value'] = purchase_data.groupby('Gender')['Price'].sum()

#find avg purchase per person by gender
gender_purch['Avg Total Purchase per Person'] = gender_purch['Total Purchase Value'] / gender_purch['Count']
gender_purch

,Count,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,,
Female,81,113,3.203009,361.94,4.468395
Male,484,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,11,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [207]:
unique_SN = purchase_data.groupby('SN').first()
#age_cat = pd.DataFrame(purchase_data['SN'].unique())

unique_SN['Age Category'] = pd.cut(unique_SN['Age'], [0,9,14,19,24,29,34,39,100])
age_demo = pd.DataFrame(unique_SN.groupby('Age Category')['Age Category'].count())
age_demo.rename(columns={'Age Category':'Count'}, inplace=True)
total = age_demo['Count'].sum()

#find the %
age_demo['Percent'] = 100*age_demo['Count']/total
age_demo

              Count    Percent
Age Category
(0, 9]           17   2.951389
(9, 14]          22   3.819444
(14, 19]        107  18.576389
(19, 24]        258  44.791667
(24, 29]         77  13.368056
(29, 34]         52   9.027778
(34, 39]         31   5.381944
(39, 100]        12   2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [208]:
#group by SN to find amount of purchases and average price per person 
purchase_data.loc[(purchase_data['Age'] < 10), 'age_bin'] = "< 10"
purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] <= 14), 'age_bin'] = "10 - 14"
purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] <= 19), 'age_bin'] = "15 - 19"
purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] <= 24), 'age_bin'] = "20 - 24"
purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] <= 29), 'age_bin'] = "25 - 29"
purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] <= 34), 'age_bin'] = "30 - 34"
purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] <= 39), 'age_bin'] = "35 - 39"
purchase_data.loc[(purchase_data['Age'] >= 40), 'age_bin'] = "> 40"

In [209]:
# counts purchases by age bin by counting screen names (non-unique)
pur_count_age = pd.DataFrame(purchase_data.groupby('age_bin')['SN'].count())

#finds avg price of purchases by age bin
avg_price_age = pd.DataFrame(purchase_data.groupby('age_bin')['Price'].mean())

#finds total purchase value by age bin
tot_pur_age = pd.DataFrame(purchase_data.groupby('age_bin')['Price'].sum())

#players by age bin
no_dup_age = pd.DataFrame(purchase_data.drop_duplicates('SN', keep = 'last').groupby('age_bin')['SN'].count())

#merges all info from above into one df
merge_age = pd.merge(pur_count_age, avg_price_age, left_index = True, right_index = True).merge(tot_pur_age, left_index
= True, right_index = True).merge(no_dup_age, left_index = True, right_index = True)

#renames columns
merge_age.rename(columns = {"SN_x": "Purchase Count", "Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value",
"SN_y": "Avg Total of Purchasers"}, inplace = True)

merge_age['Normalized Totals'] = merge_age['Total Purchase Value']/merge_age['Purchase Count']
#rest index for aesthetics
merge_age.index.rename("Age", inplace = True)

merge_age.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Normalized Totals': '${:.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [210]:
#Group by screen name to find, total purchase per person, number of purchases per person, and average price price per person
purchase_amt_by_SN = pd.DataFrame(purchase_data.groupby('SN')['Price'].sum())
num_purchase_by_SN = pd.DataFrame(purchase_data.groupby('SN')['Price'].count())
avg_purchase_by_SN = pd.DataFrame(purchase_data.groupby('SN')['Price'].mean())

# merge the above dfs
merged_top5 = pd.merge(purchase_amt_by_SN, num_purchase_by_SN, left_index = True,
right_index = True).merge(avg_purchase_by_SN, left_index=True, right_index=True)

# rename columns
merged_top5.rename(columns = {'Price_x': 'Total Purchase Value', 'Price_y':'Purchase Count',
                              'Price':'Average Purchase Price'}, inplace = True)

# sort from highest purchase value to lowest
merged_top5.sort_values('Total Purchase Value', ascending = False, inplace=True)

# top 5 only
merged_top5 = merged_top5.head()

# format
merged_top5.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})

In [215]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'age_bin'],
      dtype='object')

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [214]:


# gets a count of each item by grouping by Item ID and counting the number of each IDs occurances
top5_items_ID = pd.DataFrame(purchase_data.groupby('Item ID').count())

#sort from high to low total purchase count
top5_items_ID.sort_values('Item ID', ascending = False, inplace = True)

#keep the first 6 rows because there is a tie
top5_items_ID = top5_items_ID.iloc[0:6][:]

#find the total purchase value of each item
top5_items_total = pd.DataFrame(purchase_data.groupby('Item ID')['Price'].sum())

#merge purcahse count and total purcahse value 
top5_items = pd.merge(top5_items_ID, top5_items_total, left_index = True, right_index = True)

#drop duplicate items from original Df
no_dup_items = purchase_data.drop_duplicates(['Item ID'], keep = 'last')

# merge to get all other info from the top 6 using the no dup df
top5_merge_ID = pd.merge(top5_items, no_dup_items, left_index = True, right_on = 'Item ID')

#keep only neede columns
top5_merge_ID = top5_merge_ID[['Item ID', 'Item Name', 'Item ID_x', 'Price_y', 'Price_x']]

#reset index as item ID for aesthetics
top5_merge_ID.set_index(['Item ID'], inplace = True)

# rename columns
top5_merge_ID.rename(columns =  {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 
                                 'Total Purchase Value'}, inplace=True)

#format
top5_merge_ID.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

KeyError: "['Item Name', 'Item ID_x'] not in index"

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [216]:
# find total purcahse value and sort by high to low
top5_profit = pd.DataFrame(purchase_data.groupby('Item ID')['Price'].sum())
top5_profit.sort_values('Price', ascending = False, inplace = True)

# only keep top 5
top5_profit = top5_profit.iloc[0:5][:]

#get item purchase count
pur_count_profit = pd.DataFrame(purchase_data.groupby('Item ID')['Item ID'].count())

top5_profit = pd.merge(top5_profit, pur_count_profit, left_index = True, right_index = True, how = 'left')
top5_merge_profit = pd.merge(top5_profit, no_dup_items, left_index = True, right_on = 'Item ID', how = 'left')
top5_merge_profit = top5_merge_profit[['Item ID', 'Item Name', 'Item ID_x', 'Price_y','Price_x']]
top5_merge_profit.set_index(['Item ID'], inplace=True)
top5_merge_profit.rename(columns = {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace = True)
top5_merge_profit.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80